.col-md-2
  #filters
    - folder.properties.uniq.each do |property|
      %h4= property.name
      %ul.property.list-group{data: {type: :property, id: property.id}}
        - property.units.each do |unit|
          %li.list-group-item.overflow-hidden
            .form-group
              = label_tag unit.name, nil, class: 'col-lg-8'
              .col-lg-4
                = check_box_tag unit.name, unit.id
    %h4 Бренд
    %ul.list-group#brand{data: {type: :brand}}
      - folder.brands.uniq.each do |brand|
        %li.list-group-item.overflow-hidden
          .form-group
            = label_tag brand.name, nil, class: 'col-lg-8'
            .col-lg-4
              = check_box_tag brand.name, brand.id

.col-md-10
  %ul.products
    = render products

:javascript
  $(function(){
    new MotoParts.FolderShow({
      folder: "#{folder.id}",
      category: "#{category.id}"
    });
  });