-#- items.each do |item|
-#  .product-container-1.clean
-#    .image-container-1
-#      = link_to polymorphic_path([item]) do
-#        = image_tag item_picture(item)
-#    .clear

- items.each do |item|
  .product-container-1{class: ".#{type}"}
    .image-container-1{class: ".#{type}"}
      = link_to polymorphic_path([item]) do
        = image_tag item_picture(item)
    .description-container{class: ".#{type}"}
      = item_description(item)
    .price-container{class: ".#{type}"}
    .clear