#admin_panel
  %h2
    = "Курс Євро"
    %span= uah.rate
    %span= link_to "Змінити", edit_currency_path(uah), rel: :facebox
    %span.pull-right= link_to "Вилогуватись", destroy_user_session_path, method: :delete


  %table.table.table-hover
    %thead
      %tr
        %th= "Назва Категорії"
        %th
    %tbody
      - categories.each do |category|
        %tr
          %td= category.name
          %td= link_to "Створити Розділ в категорії #{category.name}", new_category_folder_path(category)


-#= link_to "Оновити Пароль", edit_user_registration_path
-#= link_to "Оновити Пароль", edit_user_password_path