%h2 Product
= f.input :name
= f.input :price
.form-group
  = label_tag :gallery, 'Pictures', class: 'col-lg-2', id: 'gallery_pictures'
  .col-lg-4
    = file_field_tag 'gallery_pictures[]', multiple: true, class: 'file optional'

= f.input :brand_id, as: :select, collection: brands, input_html: { class: 'chosen-select' }

= f.submit
