- if current_user
  .product-container
    .product-gallery
      .product-image-container
        = image_tag item_picture(product)
      -#.product-gallery-preview
      -#  - product.gallery.pictures.each do |picture|
      -#    = image_tag picture.url
    .product-description-container
      .properties-container
        -#= render 'product_properties/form'
        = render 'products/properties_table'
      .description-container
        %h2= product.name
        %span.price= t('words.price', price: euro_to_uah(product.price))
        #description.description.mercury-region{data: {type: :editable, mercury: :full}}
          = raw product.description
          = link_to t('.edit_description'), "/editor#{category_folder_product_path(category, folder, product)}",
                data: {'save-url' => mercury_update_category_folder_product_path(category, folder, product)},
                class: :mercury_edit_link
- else
  .row
    .col-md-12
      .product-image-container
        = image_tag item_picture(product)
    .col-md-12
      = raw product.description



:javascript
  new MotoParts.AddProductProperty({
    product: "#{product.id}"
  })