.product-container
  .product-gallery
    .product-image-container
      = image_tag product.picture.url
    .product-gallery-preview
      = image_tag product.picture.url(:thumb)
      = image_tag product.picture.url(:thumb)
      = image_tag product.picture.url(:thumb)
      = image_tag product.picture.url(:thumb)
  .product-description-container
    %h2= product.name
    #description.description.mercury-region{data: {type: :editable, mercury: :full}}
      = raw product.description
      - if current_user
        = link_to t('.edit_description'), "/editor#{category_folder_product_path(category, folder, product)}",
              data: {'save-url' => mercury_update_category_folder_product_path(category, folder, product)},
              class: :mercury_edit_link
    %span.price= t('words.price', price: product.price)