!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Motoparts
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'layouts/flash', flash: flash
    #body-wrapper
      #header
        #logo
          = link_to root_path do
            = image_tag "Moto_logo.png"
        #info
          %span.glyphicon.glyphicon-phone
          %span.contact +380 98 444 51 59
        %ul#top-menu
          %li= link_to 'Доставка', root_path
          %li= link_to 'Контакти', root_path
      #content
        -#= render 'layouts/side-bar'
        #breadcrumb
          -#= breadcrumbs pretext: "You are here: ",   separator: " › "
          %ol.breadcrumb= render_breadcrumbs :tag => :li, :separator => ""
        #content-inner
          = yield