!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Motoparts
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
      #header-content
        = link_to root_path do
          #logo
        #info
          #info-content
            +380 98 444 51 59
        .clear
        #top-menu
          .delimiter
          .menu-item
            = link_to 'Головна', root_path
          .delimiter
          .menu-item
            = link_to 'Доставка', root_path
          .delimiter
          .menu-item
            = link_to 'Контакти', root_path
          .delimiter
    #body-wrapper
      -#= render 'layouts/slider'
      -#%div{class: 'container', id: "#{controller_name}-#{action_name}"}
      #content
        = render 'layouts/side-bar'
        #content-center
          #breadcrumb
          #content-inner
            = yield
        .clear


